body{
    background-color: none;
    font-family: 'Nunito', sans-serif;
}
/******************** Title Section *****************/
.hero{
    background-image: 
    linear-gradient(rgba(245, 246, 252, 0.65), rgba(34, 235, 141, 0.35)),
    url(background.jpg);
    height: 100vh;
    /*parallax scrolling effect*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-family: 'Nunito', sans-serif;
}
.button-1 {
    font-weight: 500;
    text-transform: uppercase;
    width:250px;
    height: 150px;
    background-color:rgb(102,102,102);
    border-color: rgb(102,102,102);
}
p{
    font-family: 'Nunito', sans-serif;
}
.title{
    color: rgba(102,102,102);
    text-align: center;
}
.is-size-4{
    text-transform: uppercase;
}
.button-2 {
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 300px;
    width:120px;
    height: 45px;
    font-size: 10px;
    align-self: left;
    color: rgb(102, 102, 102);
}

.btn-primary-2 {
    background-color: white;
    border-color: rgb(142, 212, 43); 
}
  
.btn-primary-2:hover {
    background-color: rgb(142, 212, 43);
    border-color: rgb(142, 212, 43);
    cursor: pointer;
    color: white;
}
.hero-2{
    background-image: 
    url(background2.jpg);
    height: 100vh;
    /*parallax scrolling effect*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.title-2{
    font-size: 5em;
}
.servicios-text{
    display:flex;
    justify-content: flex-start;
    color:white;
}
.hero-2{
    background-image: 
    url(background2.jpg);
    height: 100vh;
    /*parallax scrolling effect*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.servicios-title{
    font-size: 3em;
    color:white;
}
.btn-3 {
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 300px;
    width:120px;
    height: 45px;
    font-size: 10px;
    color: white;
}

.btn-primary-3 {
    background-color: transparent;
    border-color: white; 
}
  
.btn-primary-3:hover {
    background-color: white;
    border-color: white;
    cursor: pointer;
    color: black;
}

