body{
    background-color: none;
    font-family: 'Nunito', sans-serif;
}
/************* Navbar ***************/

.navbar-items a{
    margin-right: 2rem;
}

/************* Title section ***************/

.hero{
    background-image: 
    linear-gradient(rgba(245, 246, 252, 0.65), rgba(34, 235, 141, 0.35)),
    url(background.jpg);
    height: 100vh;
    /*parallax scrolling effect*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/*create grid*/
.title-section{
    display:grid;
    grid-gap: 0;
    grid-template-columns:repeat(autofit, minmax(100px, 1fr));
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    justify-content: center;
    justify-items: center;
}
/*style "bienvenidos"*/
.title-text{
    color:white;
    align-self: end;
    padding: 0;
    font-size:20px;
    grid-row: 2;
}
/*style and align button*/
.button {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    width:240px;
    color: white;
}
   
.title-button{
    background-color: rgb(102, 102, 102);
    border-color: rgb(102, 102, 102); 
}
  
.title-button:hover {
    background-color: rgba(102, 102, 102, 0.7);
    border-color: rgba(102, 102, 102, 0.7);
    cursor: pointer;
    color: white;
}

.title-button{
    justify-self: center;
    align-self: center;
}

/************* Exposiciones Recientes ***************/

/*Create second grid*/
.event-hero{
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(13, 1fr);
    justify-content: center;
    justify-items: center;
}
/*styling images*/

.event-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*aligning title*/

.event-item-1{
    grid-column: 5/8;
    grid-row-start:2;
    align-self: end;
}

.event-title{
    text-align: center;
    font-size: 25px;
}
/*aligning images*/

.event-item-2{
    grid-column: 2/5;
    grid-row: 4/8;
}

.event-item-3{
    grid-column: 5/8;
    grid-row: 4/8;}

.event-item-4{
    grid-column: 8/11;
    grid-row: 4/8;}

/*styling text*/
.event-text{
    text-align: left;
    font-size: 15px;
}

.e-title{
    color: rgb(142, 212, 43);
    text-transform: uppercase;
}

.e-date{
    text-transform: uppercase;
}
/*aligning text*/

.event-item-5{
    grid-column: 2/5;
    grid-row: 8/10;
}

.event-item-6{
    grid-column: 5/8;
    grid-row: 8/10;
}

.event-item-7{
    grid-column: 8/11;
    grid-row: 8/10;
}

/*styling btns*/

.button-2 {
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 300px;
    width:120px;
    height: 45px;
    font-size: 10px;
    align-self: left;
    color: rgb(102, 102, 102);
}

.btn-primary-2 {
    background-color: white;
    border-color: rgb(142, 212, 43); 
}
  
.btn-primary-2:hover {
    background-color: rgb(142, 212, 43);
    border-color: rgb(142, 212, 43);
    cursor: pointer;
    color: white;
}

/*aligning btns*/

.event-item-8{
    grid-column:3;
    grid-row: 12;
}

.event-item-9{
    grid-column:6;
    grid-row: 12;
}

.event-item-10{
    grid-column:9;
    grid-row: 12;
}

/************* Servicios ***************/

.servicios{
    background-image: url(background2.jpg);
    height: 100vh;
    /*parallax scrolling effect*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/*styles servicios-text*/

.servicios-hero{
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: right;
    justify-items: center;
}
.servicios-title{
    font-size: 80px;
    color: white;
    text-align: right;
    grid-column: 2;
    grid-row: 2;
}

.servicios-text{
    font-size: 15px;
    color: white; 
    text-align: white; 
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
}

.btn-3 {
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 300px;
    width:120px;
    height: 45px;
    font-size: 10px;
    grid-column: 2;
    grid-row: 4;
    align-self: start;
    color: white;
}

.btn-primary-3 {
    background-color: transparent;
    border-color: white; 
}
  
.btn-primary-3:hover {
    background-color: white;
    border-color: white;
    cursor: pointer;
    color: black;
}
