
@media screen and (max-width: 520px) {
  .display-1 {
    font-size: 4.5rem;
  }
}

/* iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .title-section {
    height: 1024px;
  }
}

/* iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .title-section {
    height: 768px;
  }
}

.title-content {
  height: 100%;
}

/*
About us
*/

h2{
  position: relative;
  left: 165px;
  margin-bottom: none;
  font-size: 40px;
}

hr{
  position: absolute;
  left: 165px;
  border: 3px solid #8AEE00;
  width: 70px;
  border-radius: 3px;
  margin-top: 0;
}

.container{
  display:grid;
  grid-template-columns: 3fr 2.5fr;
  grid-template-rows: 0.7fr;
  background-color: white;
}
.carousel-item{
  height: 80vh;
}